:root {
  --font-family-alberSans: "AlbertSans", "Inter", "Roboto", "Helvetica Neue", Arial;
}

@font-face {
  src: url('../../../assets/fonts/AlbertSans-Regular.ttf') format('TrueType');
  font-family: 'AlberSans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

