.sro {
  position: absolute;
  width: 0.01rem;
  height: 0.01rem;
  padding: 0;
  margin: -0.01rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

//Nav bar header
.navigation__list {
  display: flex;
  flex-direction: row;
}

.navigation__link {
  font-family: var(--font-family-alberSans), sans-serif;
  background-color: var(--black-color);
  text-decoration: none;
  padding: 0.13rem 0.15rem;
}

//projets
.section__project {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12.5rem;
}

.project{
  padding-right: 8.125rem;
}

.project__image {
  max-width: 36.25rem;
  height: auto;
  border: 10px solid var(--white-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  display: block;
  padding: -50px;
}

.buttons {
  font-family: var(--font-family-alberSansLight), sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  border-radius: 1.563rem;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.813rem 1.25rem;
  margin: 0.625rem 0;
}

.stack {
  position: relative;
  width: 700px;
  height: 300px;
}

.card {
  position: absolute;
  background-color: var(--white-color);
}


/* Variations (le "tas") */
.card-1 {
  transform: rotate(0.45deg);
  z-index: 3;
}

.card-2 {
  transform: rotate(7.25deg);
  z-index: 2;
}

.card-3 {
  transform: rotate(-5.33deg);
  z-index: 1;
}

/* Intéresser ? */
.project__title, .text-media__title {
  font-family: var(--font-family-alberSansLight), sans-serif;
  font-size: 4.125rem;
  padding-bottom: 0.625rem;
}

.project__text {
  font-family: var(--font-family-SegoePrint), sans-serif;
  font-size: 1.25rem;
  line-height: 2.188rem;
  max-width: 37.5rem;
}

.text-media {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 13.75rem;
}
.text-media__text {
  font-family: var(--font-family-SegoePrint), sans-serif;
  font-size: 1.25rem;
  margin: 0 auto;
  line-height: 2.188rem;
  max-width: 37.5rem;
}
.text-media__text-2 {
  font-family: var(--font-family-SegoePrint), sans-serif;
  font-size: 1.25rem;
  line-height: 2.188rem;
  max-width: 37.5rem;
}

.text-media-2 {
  display: flex;
  justify-content: center;
}

.text-media-2__content{
  padding-right: 8.125rem;
}



