@media screen and (max-width: 1024px) and (min-width: 600px) {
  //Navigation
  .navigation__burger{
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;

    font-family: var(--font-family-alberSans), sans-serif;

    ul {
      display: flex;
      gap: 2rem;

      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      position: relative;

      font-size: 1.25rem;
      color: white;
      text-decoration: none;

      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.25rem;

        width: 100%;
        height: 0.0625rem;

        background-color: #F63800;

        transform: scaleX(0);
        transform-origin: left;

        transition: transform 0.3s ease-in-out;
      }

      &:hover,
      &:focus,
      &.current-menu-item,
      &.current_page_item {
        color: #F63800;
      }

      &:hover::after,
      &:focus::after,
      &.current-menu-item::after,
      &.current_page_item::after {
        transform: scaleX(1);
      }
    }
  }

  //Bouton
  .buttons {
    font-family: var(--font-family-alberSansLight), sans-serif;
    background-color: var(--white-color);
    color: var(--black-color);
    text-decoration: none;
    border-radius: 1.563rem;
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5rem 0.938rem;
    margin: 0.625rem 0;
    transition:
            background-color 0.35s ease,
            color 0.35s ease,
            transform 0.2s ease;

    &:hover{
      background-color: var(--orange-color);
      color: var(--white-color);
    }

  }
  //Accroche
  .section__title {
    margin: 12rem 5rem 0;
  }
  .suptitle {
    font-family: var(--font-family-alberSans), sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
  }
  .title {
    font-family: var(--font-family-Agbalumo), sans-serif;
    font-size: 5rem;
    text-align: center;
  }
  .subtitle {
    font-family: var(--font-family-SegoePrint), sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
  //Titre
  .project__title, .interest__title, .about-me__title {
    font-family: var(--font-family-alberSansLight), sans-serif;
    font-size: 4.125rem;
    padding-bottom: 0.625rem;
  }
  //Texte
  .project__text, .interest__text, .about-me__text {
    font-family: var(--font-family-SegoePrint), sans-serif;
    font-size: 1.25rem;
    line-height: 2.188rem;
    max-width: 37.5rem;
  }

  //projets
  .project {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 9.5rem;
      gap: 2rem;
    }

    &__content {
      padding: 0 4rem;
    }

    &__image {
      max-width: 31rem;
      height: auto;
      border: 10px solid var(--white-color);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
      display: block;
      padding: -3rem;
    }
  }
  .stack {
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //Intéresser
  .interest {
    margin: 0 auto;
    text-align: center;
    padding: 9.5rem 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //A propos de moi
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9.5rem;
    gap: 2rem;

    &__content {
      padding: 0 6rem;
    }
  }
  //Buison de compétance
  .skill-bush {
    display: flex;
    justify-content: center;
    padding-top: 9.5rem;

    &__image {
      max-width: 45rem;
    }
  }

  //Parcours scolaire
  .education {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 9.5rem;
      gap:2rem;
    }

    &__image {
      transform: rotate(3deg);
      max-width: 40rem;
      height: auto;

    }
    &__title{
      color: var(--black-color);
      font-weight: bold;
    }
    &__text {
      color: var(--black-color);
      line-height: 1.2rem;
    }
  }
  .postit {
    left: 55rem;
    top: 97rem;
    max-height: 6rem;
    background: var(--gre-color);
    padding: 20px;
    width: fit-content;
    max-width: 250px;
    transform: rotate(-2deg);

    font-family: var(--font-family-SegoePrint), sans-serif; /* optionnel pour style */
  }
  .postit::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(2deg);

    width: 60px;
    height: 20px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  //Formulaire de contact
  .form__container {
    display: flex;
    justify-content: center;
  }
  .form {
    padding: 3rem;
    border: 1px solid var(--white-color);
    min-width: 73%;
    margin: 0 auto;
    &__group{
      display: flex;
      flex-direction: column;
    }
  }
  label{
    font-family: var(--font-family-SegoePrint), sans-serif;
    font-size: 1.125rem;
    padding-top: 2rem;
  }
  input, textarea{
    font-family: var(--font-family-SegoePrint), sans-serif;
    color: var(--gre2-color);
    font-size: 1.125rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    appearance: none;
    border: none;
  }
  input:focus, textarea:focus{
    outline: none;
    border: 2px solid inside var(--orange-color);
    background-color: var(--saumon-color);
    color: var(--white-color);
  }
  input:focus::placeholder, textarea:focus::placeholder{
    color: var(--gre-color);
  }
  button[type="submit"] {
    border: none;
    margin-top: 2rem;

  }
  //footer
  .footer {
    &__image {
      display: none;
    }

    &__container {
      display: flex;
      justify-content: center;
      gap: 10rem;
      padding-top: 9.5rem;
      flex-wrap: wrap;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;
      margin: 2.5rem 5rem;
      border-top: solid 1px var(--white-color);

    }

    &__legal {
      display: flex;
    }

    &__title {
      font-family: var(--font-family-alberSans), sans-serif;
      font-weight: bold;
      font-size: 1.12rem;
      color: var(--white-color);
    }

    &__copyright {
      font-family: var(--font-family-alberSans), sans-serif;
      font-size: 1.12rem;
      color: var(--white-color);
      text-decoration: none;
      margin: 0.5rem 0;
      display: block;
    }

    &__item-condition {
      font-family: var(--font-family-alberSans), sans-serif;
      text-decoration: none;
      font-size: 1.12rem;
      color: var(--white-color);
      margin: 1rem 0;
      &:hover {
        color: #F63800;
      }
    }

    &__item {
      font-family: var(--font-family-alberSans), sans-serif;

      > a {
        font-size: 1.12rem;
        color: var(--white-color);
        text-decoration: none;
        margin: 0.5rem 0;
        display: block;
      }
      > a:hover {
        color: #F63800;
      }
    }
  }
}
